html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: 'Slabo 27px', serif;

  background: #F2EFEB;
  color: #493E2C;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  transition: opacity 200ms ease 0ms;
}

h1 {
  text-align: center;
  padding-top: 0.5em;
  text-transform: uppercase;
  margin-right: 256px;
}

h3 {
  margin-top: 0;
}

#profile {
  width: 256px;
  position: fixed;
  top: 0;
  right: 0;
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;

  width: 256px;
  height: 100%;
  margin-top: 256px;
  padding: 1em;
  background-color: rgba(0,0,0,0.05);
}

aside div a {
  display: block;
}

aside div img {
  vertical-align: middle;
  margin-right: 5px;
}

#gallery {
  margin: auto;
  max-width: 960px;
  margin-right: 256px;
}

.grid-sizer, .grid-item {
  display: inline-block;
  text-align: center;
  width: 320px;
  float: left;

  transition: opacity 200ms ease 0ms;
}

.grid-item:hover, a:hover {
  opacity: 0.75;
}

.pswp__button--buy {
  width: auto;
  margin-right: 1em;
}

.pswp__button--buy #buy {
  line-height: 30px !important;
}

@media only screen and (max-width: 640px) {
  h1 {
    width: 74%;
    margin: 0;
    display: inline-block;
    font-size: 7vw;
  }

  #profile {
    position: static;
    display: inline-block;
    width: 25%;
    left: 0;
    right: auto;
    vertical-align: -175%;
  }

  aside {
    margin-top: 92px;
    position: static;
    width: 100%;
    margin-top: 0;
    margin: auto;
    text-align: center;
  }

  #gallery {
    max-width: none;
    width: 320px;
    margin-right: 0;
    margin: auto;
    padding-top: 2em;
  }

  .grid-item {
    margin: 0 0 1em 0;
  }
}
