html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: 'Slabo 27px', serif;

  background-color: #666;
  color: #493E2C;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  transition: opacity 200ms ease 0ms;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-right: 256px;
  color: white;
}

h3 {
  margin-top: 0;
}

#profile {
  width: 256px;
  position: fixed;
  top: 0;
  right: 0;
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  color: white;

  width: 256px;
  height: 100%;
  margin-top: 255px;
  padding: 1em;
  background-color: #79D4FF;
}

aside a {
  color: white;
}

aside div a {
  display: block;
}

aside div img {
  vertical-align: middle;
  margin-right: 5px;
}

#gallery {
  margin: auto;
  max-width: 960px;
  margin-right: 256px;
}

.grid-sizer, .grid-item {
  display: inline-block;
  text-align: center;
  width: 320px;
  float: left;

  transition: opacity 200ms ease 0ms;
}

.grid-item:hover, a:hover {
  opacity: 0.75;
}

.pswp__button--buy {
  width: auto;
  margin-right: 1em;
  background: none !important;
}

.pswp__button--buy #buy {
  line-height: 30px !important;
}

#cv {
  width: 100%;
  background-color: #F2EFEB;
  background-image: url(imgs/bg.png);
  background-size: contain;
  background-position: -10% 0%;
  background-repeat: no-repeat;
}

#cv > div {
  margin: auto;
  max-width: 640px;
  margin-right: 30%;
  padding: 2em;
}

figcaption {
  color: white;8
}

.two {
  display: inline-block;
  width: 45%;
}

.two:last-child {
  margin-left: 9%;
}

.green {
  color: green;
}

.yellow {
  color: #FF9D00;
}

.fixed {
  width: 4em;
  display: inline-block;
}

@media only screen and (max-width: 640px) {
  body > h1 {
    width: 74%;
  }

  h1 {
    margin: 0;
    display: inline-block;
    font-size: 7vw;
    width: 100%;
  }

  #gallery h1 {
    margin-bottom: 1em;
  }

  #profile {
    position: static;
    display: inline-block;
    width: 25%;
    left: 0;
    right: auto;
    vertical-align: -175%;
  }

  aside {
    margin-top: 92px;
    position: static;
    width: 100%;
    margin-top: 0;
    margin: auto;
    padding: 12.5%;
  }

  #gallery {
    max-width: none;
    width: 320px;
    margin-right: 0;
    margin: auto;
    padding-top: 2em;
  }

  .grid-item {
    margin: 0 0 1em 0;
  }

  #cv {
    background-image: none;
  }

  #cv > div {
    padding: 12.5%;
    margin-right: 0;
  }

  .two {
    width: 100%;
  }

  .two:last-child {
    margin: 0;
  }
}
