html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(to top right, rgba(0,0,0,0.75) 25%, transparent), url(/rsc/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Muli', sans-serif;
}

.pure-g {
  height: 100%;
}

#content {
  height: 100%;
  color: white;
  padding-left: 2.5rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

#content h1 {
  margin-right: 1rem;
}

#social {
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 1.5rem;
}

#social a {
  color: white;
  padding-right: 1rem;
  transition: all 0.25s;
  display: inline-block;
}

#social a:hover {
  filter: drop-shadow(0 0 5px white);
}

#social i:before {
  font-size: 1.5rem;
}

#links {
  margin-bottom: 0.5rem;
}

#links a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 12rem !important;
  background-image: linear-gradient(to top, rgba(0,0,0,0.75) 25%, transparent);
}

footer div {
  height: 100%;
}

footer a {
  height: 100%;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  color: white;
  position: relative;
}

footer img {
  max-width: 10rem;
  max-height: 4rem;
  vertical-align: middle;
  transition: all 0.25s;
}

footer img:hover {
  filter: drop-shadow(0 0 5px white);
}

footer h3 {
  font-weight: lighter;
  margin-bottom: 0;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body {
    background-position: center;
    background-color: black;
    background-image: linear-gradient(to top, rgba(0,0,0,0.75) 5%, transparent), linear-gradient(to top right, rgba(0,0,0,0.75) 25%, transparent), url(/rsc/bg.jpg);
  }

  footer {
    position: static;
    background-image: none;
  }

  footer > div:nth-child(4) {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (min-width: 479px) and (max-width: 768px) {
  footer {
    transform: translateY(-225%);
  }
}

@media only screen and (max-width: 479px) {
}
